@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.center-content {
    display: flex;
    justify-content: center;
}

.header-container {
    background: #E0E1E2;
}

.logo {
    width: 130px;
    margin-top: 25px;
}

.menu-img {
    position: absolute;
    right: 0;
    margin-top: 25px;
    margin-right: 29px;
}

.prod-work {
    background: #E0E1E2;
    padding-top: 94px;
}

.prod-work p {
    margin: 67px 59px 40px 59px;
}

.img-container {
    height: 230px;
    background-image: url("./res/MX-Master\ 1.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.heading {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #2F3132;
}

.text-container {
    flex-wrap: nowrap;
}

.text {
    text-align: center;
    color: #2F3132;
    font-size: 14px;
    line-height: 16px;
}

.arrow-img {
    margin-bottom: 48px;
}

.no-wires {
    background: #EDEDED;
}

.bluetooth-img {
    margin-top: 42px;
    margin-bottom: 27px;
}

.days-container {
    background-image: url(./res/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 288px;
    padding-bottom: 18px;
}

.days-text {
    font-weight: 900;
    font-size: 60px;
    color: #C4C4C4;
    text-transform: uppercase;
}

.no-wires-container .text-container {
    margin-top: 20px;
}

.no-wires-text {
    margin-top: 20px;
}

/* TABLE SECTION */

.table-heading {
    margin-top: 70px;
    margin-bottom: 20px;
}

.table-section .text-container {
    margin-left: 67px;
    margin-right: 67px;
}

.table-section .subheading {
    font-weight: 900;
    color: #2F3132;
    font-size: 14px;
    text-align: center;
    margin-top: 28px;
}

.table-section .text-container {
    margin-bottom: 63px;
}

.feature-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 19px 28px 19px;
}

.feature-box {
    width: 166px;
    height: 94px;
    border: 1px solid #2F3132;
    display: grid;
    align-items: center;
}

.feature-box .heading {
    text-align: center;
    margin-top: 10px;
}

.slidernav-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 20px 34px 20px 34px;
}

.carousel-indicators {
    position: relative;
    margin: 0;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30x;
    height: 30px;
    border-radius: 50%;
    background-image: url(./res/wood-texture.png);
    margin-left: 12px;
    margin-right: 12px;
}

/* SURFACE TEXTURES */

button#wood {
    background-image: url(./res/wood-texture.png);
}
button#glass {
    background-image: url(./res/glass-texture.png);
}
button#linoleum {
    background-image: url(./res/linoleum-texture.png);
}
button#cloth {
    background-image: url(./res/cloth-texture.png);
}
button#marble {
    background-image: url(./res/marble-texture.png);
}

.carousel-control-prev, .carousel-control-next {
    background-repeat: no-repeat;
    position: relative;
    width: 9px;
    height: 18px;
}

.carousel-control-prev{
    margin-right: 12px;
}

.carousel-control-next {
    margin-left: 12px;
}

.carousel-control-prev-icon {
    background-image: url(./res/arrow-left.svg);
}

.carousel-control-next-icon {
    background-image: url(./res/arrow-right.svg);
}